#smartbanner {
	position:absolute;
	left:0;
	top:-82px;
	width:100%;
	height:78px;
	font-family:'Helvetica Neue', sans-serif;
	background:#f2f2f2;
	-webkit-font-smoothing:antialiased;
	overflow:hidden;
	-webkit-text-size-adjust:none;
	font-size:16px
}
#smartbanner, html.sb-animation {
-webkit-transition:all .3s ease
}
#smartbanner .sb-container {
	margin:0 auto
}
#smartbanner .sb-close {
	position:absolute;
	left:0;
	text-transform:uppercase;
	top:1.6em;
	display:block;
	width:2em;
	height:1.8em;
	font-family:'Helvetica Neue', sans-serif;
	line-height:1.8em;
	text-align:center;
	color:#797979;
	text-decoration:none;
	text-shadow:none;
	-webkit-font-smoothing:subpixel-antialiased
}
#smartbanner .sb-close:active {
	color:#aaa
}
#smartbanner .sb-icon {
	position:absolute;
	left:33px;
	top:10px;
	display:block;
	width:57px;
	height:57px;
	background-size:cover
}
#smartbanner.no-icon .sb-icon {
	display:none
}
#smartbanner .sb-info {
	position:absolute;
	left:98px;
	top:18px;
	width:49%;
	font-size:11px;
	line-height:1.2em;
	font-weight:bold;
	color:#6a6a6a;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8)
}
#smartbanner #smartbanner.no-icon .sb-info {
	left:34px
}
#smartbanner .sb-info strong {
	display:block;
	font-size:13px;
	color:#4d4d4d;
	line-height:18px
}
#smartbanner .sb-info>span {
	display:block
}
#smartbanner .sb-info em {
	font-style:normal;
	text-transform:uppercase
}
#smartbanner .sb-button {
	position:absolute;
	right:20px;
	top:24px;
	text-transform:uppercase;
	padding:0 10px;
	min-width:10%;
	height:24px;
	font-size:14px;
	line-height:24px;
	text-align:center;
	color:#007aff;
	text-decoration:none
}
#smartbanner .sb-button:active, #smartbanner .sb-button:hover {
	text-decoration:none
}
#smartbanner.android {
	border-color:#212228;
	background:#3d3d3d url('data:image/gif;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7');
	border-top:5px solid #88B131;
	box-shadow:none
}
#smartbanner.android .sb-close {
	border:0;
	width:2em;
	height:2em;
	line-height:2em;
	color:#fdfdfd
}
#smartbanner.android .sb-close:active {
	color:#eee
}
#smartbanner.android .sb-info {
	color:#ccc;
	text-shadow:0 1px 2px #000
}
#smartbanner.android .sb-info strong {
	color:#fff
}
#smartbanner.android .sb-button {
	min-width:12%;
	padding:1px;
	color:#fdfdfd;
	background:none;
	border-radius:0;
	box-shadow:none;
	min-height:28px
}
#smartbanner.android .sb-button span {
	text-align:center;
	display:block;
	padding:0 10px;
	background-color:#42B6C9;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#42B6C9), to(#39A9BB));
	background-image:-moz-linear-gradient(top, #42B6C9, #39A9BB);
	text-transform:none;
	text-shadow:none;
	box-shadow:none
}
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover {
	background:none
}
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span {
	background:#2AC7E1
}
#smartbanner.windows .sb-icon {
	border-radius:0
}
