.ad, .social-share__bubble {
	overflow:hidden;
	text-align:center
}
.guest-blog-profile__name, .guest-blog-theme__name {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	left:15px
}
.author-details__social p, .collaborators__title, .cta-nav-horizontal__title, .cta-photo__text i, .related-cards__title, .wp-caption-text {
	font-style:italic
}
@-webkit-keyframes bounce {
20%, 53%, 80%, from, to {
-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);
animation-timing-function:cubic-bezier(.215, .61, .355, 1);
-webkit-transform:translate3d(0, 0, 0);
transform:translate3d(0, 0, 0)
}
40%, 43% {
-webkit-animation-timing-function:cubic-bezier(.755, .05, .855, .06);
animation-timing-function:cubic-bezier(.755, .05, .855, .06);
-webkit-transform:translate3d(0, -30px, 0);
transform:translate3d(0, -30px, 0)
}
70% {
-webkit-animation-timing-function:cubic-bezier(.755, .05, .855, .06);
animation-timing-function:cubic-bezier(.755, .05, .855, .06);
-webkit-transform:translate3d(0, -15px, 0);
transform:translate3d(0, -15px, 0)
}
90% {
-webkit-transform:translate3d(0, -4px, 0);
transform:translate3d(0, -4px, 0)
}
}
@keyframes bounce {
20%, 53%, 80%, from, to {
-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);
animation-timing-function:cubic-bezier(.215, .61, .355, 1);
-webkit-transform:translate3d(0, 0, 0);
transform:translate3d(0, 0, 0)
}
40%, 43% {
-webkit-animation-timing-function:cubic-bezier(.755, .05, .855, .06);
animation-timing-function:cubic-bezier(.755, .05, .855, .06);
-webkit-transform:translate3d(0, -30px, 0);
transform:translate3d(0, -30px, 0)
}
70% {
-webkit-animation-timing-function:cubic-bezier(.755, .05, .855, .06);
animation-timing-function:cubic-bezier(.755, .05, .855, .06);
-webkit-transform:translate3d(0, -15px, 0);
transform:translate3d(0, -15px, 0)
}
90% {
-webkit-transform:translate3d(0, -4px, 0);
transform:translate3d(0, -4px, 0)
}
}
.animated {
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1
}
.bounce {
	-webkit-animation-name:bounce;
	animation-name:bounce;
	-webkit-transform-origin:center bottom;
	-ms-transform-origin:center bottom;
	transform-origin:center bottom
}
.social-share--box {
	padding:20px
}
.author-details__info {
	padding-left:20px
}
.cta-box__actions--separte, .cta-box__description, .post-comment+.post-comment, .post-comments {
	padding-top:20px
}
.author-details__info, .cta-box__description, .cta-promoted-posts__title {
	padding-bottom:20px
}
.author-info--comment p, .post-explore ul {
	margin-bottom:0
}
.ad-announce, .author-list__item, .collaborators li, .collaborators__title, .collection-gallery__title, .cta-directory, .cta-directory__title, .hero-post__text, .most-popular__item-title, .post-explore__title, .promo__title {
	margin-bottom:10px
}
.author-details__name, .author-details__photo, .author-details__social p, .author-details__text p, .collaborators .button, .collaborators__subtitle, .collection-gallery, .collection-video, .collection-video__item, .collection-video__main, .collection-video__subtitle, .comment-box__title, .cta-directory-category li, .cta-directory-category__title, .cta-promoted-posts, .hero-post, .magazine-custom-widget, .magazine-video-post, .post-comment-actions__item, .post-comment__comment, .promo-sidebar__item, .related-providers-sign-up, .slideshow-fullscreen--last__title, .social-like-box {
	margin-bottom:20px
}
.author-details, .collaborators, .cta-photo, .error-page, .most-popular, .most-popular__title, .post-comments, .slideshow-fullscreen--last .social-share {
	margin-bottom:30px
}
.collaborators li {
	margin-left:10px
}
.author-details__text p {
	margin-right:20px
}
.author-details__name, .collaborators__subtitle, .collaborators__title, .collection-gallery__title, .collection-video__subtitle, .cta-directory-category__title, .post-explore__title, .slideshow-fullscreen--last__title {
	margin-top:0!important
}
.post-comment__business-relation, .post-comments__view-all {
	margin-top:10px
}
.comment-box, .cta-box__actions--separte, .magazine-custom-widget, .magazine-video-post, .post-comment+.post-comment, .post-comment__comment, .post-comments {
	margin-top:20px
}
.error-page, .magazine-gallery-post, .post-comments__list, .suggested-contents {
	margin-top:30px
}
.filter-list__link {
	box-shadow:0 2px 3px rgba(51, 51, 51, .35)
}
.author-details, .collaborators, .cta-photo {
	box-shadow:0 3px 8px #e4e4e4
}
.cta-promoted-posts, .cta-share, .filter-list, .filter-list__link, .filter-list__tag, .guest-blog-content, .magazine-post, .most-popular, .post-comments, .post-explore, .post-image-link__badge, .quick-request--sidebar, .related-providers .card--mini, .related-providers-sign-up {
	border-radius:3px
}
.cta-promoted-posts, .filter-list, .magazine-post, .most-popular, .post-comments, .post-explore {
	background-color:#fdfdfd;
	border:1px solid #d7d7d7
}
.social-share__bubble {
	background-color:#fdfdfd;
	border:1px solid #f0f0f0;
	border-radius:15px;
	color:gray;
	font-size:11px;
	line-height:14px;
	min-width:20px;
	padding:2px 3px;
	position:absolute;
	right:-5px;
	top:-10px;
	display:inline-block;
	max-width:100%;
	text-overflow:ellipsis;
	white-space:nowrap
}
[data-number="0"].social-share__bubble {
	display:none
}
.social-share {
	font-size:0;
	margin-bottom:0
}
.social-share__item {
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
	width:33.33333%
}
.team-modal--socaillinks .social-share__item {
	margin-right:10px;
	width:auto
}
.social-share__item a {
	border-radius:50%;
	color:#fdfdfd;
	display:inline-block;
	font-size:13px;
	height:35px;
	line-height:35px;
	position:relative;
	text-decoration:none;
	width:35px;
transition:background .5s cubic-bezier(.19, 1, .22, 1)
}
@media only screen and (max-width:767px) {
.social-share__item a {
height:auto;
line-height:40px;
width:40px
}
}
.social-share__facebook a {
	background:#3b5998
}
.social-share__facebook a:hover {
	background:#4c70ba
}
.social-share__facebook-button a {
	border-radius:3px;
	box-shadow:none;
	color:#3b5998;
	font-weight:700;
	line-height:1em;
	padding:3px 5px;
	width:auto
}
.social-share__facebook-follow {
	margin-left:10px!important;
	padding:10px 5px!important;
	vertical-align:bottom
}
.social-share__instagram a {
	background:#125688
}
.social-share__instagram a:hover {
	background:#1872b5
}
.social-share__vk a {
	background:#6383a8
}
.social-share__vk a:hover {
	background:#849dba
}
.social-share__twitter a {
	background:#55acee
}
.social-share__twitter a:hover {
	background:#83c3f3
}
.social-share__pinterest a {
	background:#cb2027
}
.social-share__pinterest a:hover {
	background:#e03e44
}
.social-share__linkedin a {
	background:#195987
}
.social-share__linkedin a:hover {
	background:#2175b2
}
.social-share__googleplus a {
	background:#d94835
}
.social-share__googleplus a:hover {
	background:#e16f60
}
.social-share__email a {
	background:#6cce6b
}
.social-share__email a:hover {
	background:#92db91
}
.social-share__rss a {
	background:#fa9b39
}
.social-share__rss a:hover {
	background:#fbb46b
}
.social-share__chat a {
	background:#ffb923
}
.social-share__chat a:hover {
	background:#ffc956
}
.social-share--box {
	background-color:#f0f0f0;
	border:1px solid #fff;
	margin-bottom:30px
}
@media only screen and (min-width:768px) {
.social-share--vertical .social-share__item {
display:block;
margin-bottom:10px
}
}
.panel-menu .terra-toolbar {
	display:block
}
.ad>div, .avatar, .avatar--footer img {
	display:inline-block
}
.ad--align-left {
	text-align:left
}
.ad--sidebar {
	margin-bottom:15px
}
.guest-blog-profile, .guest-blog-theme {
	position:relative
}
.guest-blog-theme__background {
	height:300px;
	overflow:visible
}
@media only screen and (max-width:1199px) {
.guest-blog-profile__background {
height:120px
}
.guest-blog-theme__background {
height:250px
}
}
.guest-blog-profile__photo, .guest-blog-theme__photo {
	margin-left:-9%;
	width:118%
}
@media only screen and (max-width:991px) {
.guest-blog-profile__background {
height:100px
}
.guest-blog-theme {
position:relative
}
.guest-blog-theme__background {
height:auto
}
.guest-blog-profile__photo, .guest-blog-theme__photo {
margin-left:0;
width:100%
}
}
.guest-blog-profile__name, .guest-blog-theme__name {
	color:#333;
	font-size:4em;
	font-size:7vh;
	position:absolute;
	right:335px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%)
}
.guest-blog-profile__name, .guest-blog-theme__avatar {
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%)
}
@media only screen and (min-width:768px) and (max-width:991px) {
.guest-blog-profile__name, .guest-blog-theme__name {
font-size:4em;
font-size:4vh;
right:185px
}
}
@media only screen and (max-width:767px) {
.ad--card {
margin-bottom:15px
}
.guest-blog-profile__name, .guest-blog-theme__name {
font-size:2em;
font-size:3vh;
right:125px
}
}
.guest-blog-theme__avatar {
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	right:60px;
	transform:translateY(-50%)
}
.guest-blog-theme__avatar img {
	width:240px
}
@media only screen and (min-width:768px) and (max-width:991px) {
.guest-blog-theme__avatar {
right:15px
}
.guest-blog-theme__avatar img {
width:150px
}
}
@media only screen and (max-width:767px) {
.guest-blog-theme__avatar {
right:15px
}
.guest-blog-theme__avatar img {
width:100px
}
}
.guest-blog-profile--dark .guest-blog-profile__name, .guest-blog-theme--dark .guest-blog-theme__name {
	color:#fdfdfd
}
.guest-blog-content-wrapper {
	overflow:hidden
}
.guest-blog-content {
	background:#f7f7f7;
	padding-top:15px;
	position:relative;
	z-index:1
}
.promoted-item {
	overflow:hidden;
	padding:10px
}
.promoted-item__avatar {
	border-radius:50%;
	float:left;
	margin-right:15px;
	overflow:hidden;
	width:100%
}
@media only screen and (max-width:767px) {
.promoted-item__avatar {
margin-right:0
}
}
.promoted-item__avatar img {
	height:auto;
	width:100%
}
.promoted-item__photo {
	border-radius:3px;
	float:left;
	margin-right:15px;
	overflow:hidden
}
.promoted-item__name, .promoted-item__title {
	font-size:18px
}
.promoted-item__link {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.promoted-item__link, .promoted-item__link:active, .promoted-item__link:focus, .promoted-item__link:visited {
	color:#5baaa1;
	text-decoration:none
}
.promoted-item__link:hover {
	color:#122220;
	text-decoration:underline
}
.guest-blog-profile {
	position:relative
}
.guest-blog-profile__background {
	height:150px;
	overflow:visible
}
.guest-blog-profile__photo {
	margin-left:-9%;
	width:118%
}
.guest-blog-profile__name {
	color:#333;
	font-size:7vh;
	position:absolute;
	right:335px;
	transform:translateY(-50%)
}
@media only screen and (max-width:991px) {
.guest-blog-profile__photo {
margin-left:0;
width:100%
}
.guest-blog-profile__name {
font-size:4vh;
right:185px
}
}
@media only screen and (max-width:767px) {
.guest-blog-profile__name {
font-size:3vh;
right:125px
}
}
.guest-blog-profile__avatar {
	border:10px solid #eee;
	border-radius:50%;
	height:150px;
	overflow:hidden;
	position:absolute;
	right:100px;
	top:60%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:150px;
	z-index:90
}
@media only screen and (max-width:991px) {
.guest-blog-profile__avatar {
border:5px solid #eee;
height:100px;
right:15px;
top:50%;
width:100px
}
}
.avatar img, .guest-blog-profile__avatar img {
	width:100%
}
.comment-box__title {
	font-family:"Petit Formal Script", "Bad Script", cursive;
	color:#333;
	font-size:22px
}
.venue-info__name, .widget-honeymoons__header-text, .widget-honeymoons__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.avatar {
	background:#fdfdfd;
	border-radius:50%;
	float:left;
	margin-right:10px;
	overflow:hidden
}
.avatar--footer {
	border:2px solid #fdfdfd;
	height:50px;
	text-align:center;
	width:50px
}
.avatar--footer img {
	height:100%;
	width:auto
}
.avatar--small {
	height:40px;
	width:40px
}
.widget-honeymoons {
	color:#fdfdfd;
	margin:0 auto;
	max-width:300px;
	overflow:hidden;
	position:relative
}
@media only screen and (min-width:768px) and (max-width:1199px) {
.widget-honeymoons {
max-width:250px
}
}
@media only screen and (max-width:767px) {
.guest-blog-profile__avatar {
right:20px
}
.avatar--footer {
float:none
}
.widget-honeymoons {
max-width:300px
}
}
.widget-honeymoons__header {
	border-bottom:1px solid #fdfdfd;
	left:15px;
	overflow:hidden;
	position:absolute;
	right:15px;
	top:15px
}
.widget-honeymoons__header-text {
	font-weight:700;
	display:block;
	line-height:1em;
	text-align:center;
	text-transform:uppercase
}
.widget-honeymoons__header small {
	font-size:13px;
	text-transform:none
}
.widget-honeymoons__intro {
	display:block;
	font-size:15px;
	text-align:center
}
.widget-honeymoons__intro span {
	display:inline-block;
	position:relative
}
.widget-honeymoons__intro span:after, .widget-honeymoons__intro span:before {
	border-bottom:1px solid #fdfdfd;
	content:'';
	position:absolute;
	top:.6em;
	width:600px
}
.widget-honeymoons__intro span:before {
	margin-right:15px;
	right:100%
}
.widget-honeymoons__intro span:after {
	left:100%;
	margin-left:15px
}
.widget-honeymoons__title {
	font-weight:700;
	border-bottom:1px solid #fdfdfd;
	border-top:1px solid #fdfdfd;
	left:15px;
	position:absolute;
	right:15px;
	text-align:center;
	text-transform:uppercase;
	top:15px
}
.widget-honeymoons__title-text {
	display:block
}
.widget-honeymoons__link {
	bottom:0;
	font-size:0;
	left:0;
	position:absolute;
	right:0;
	top:0
}
.widget-honeymoons__search-box {
	transition:background-color 250ms cubic-bezier(.19, 1, .22, 1);
	background:#333;
	background:rgba(51, 51, 51, .25);
	border:2px solid #fff;
	border-radius:20px;
	bottom:15px;
	font-size:18px;
	left:15px;
	padding:5px 15px;
	position:absolute;
	right:15px;
	text-align:right;
	z-index:1
}
.author-info--comment .author-info__name, .author-info__category a, .author-info__name, .author-info__post, .cta-web__link {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.cta-box, .cta-web, .venue-info {
	text-align:center
}
@media only screen and (max-width:767px) {
.widget-honeymoons__search-box {
font-size:15px
}
.author-info__date {
display:none
}
}
.widget-honeymoons__search-box .icon {
	float:left;
	line-height:25px
}
.widget-honeymoons:hover .widget-honeymoons__search-box {
	background:#333;
	background:rgba(51, 51, 51, .5)
}
.author-info__date, .author-info__name {
	height:20px;
	overflow:hidden
}
.author-info__by {
	font-size:13px
}
.author-info__name, .author-info__name:active, .author-info__name:focus, .author-info__name:visited {
	color:#666;
	text-decoration:none
}
.author-info__name:hover {
	color:#e0e0e0;
	text-decoration:none
}
.author-info__post {
	font-size:15px;
	font-weight:700
}
.author-info__post, .author-info__post:active, .author-info__post:focus, .author-info__post:visited {
	color:#333;
	text-decoration:none
}
.author-info__post:hover {
	color:#d6d6d6;
	text-decoration:none
}
.author-info__date {
	color:#b3b3b3;
	font-size:12px
}
.author-info__category {
	font-size:13px
}
@media only screen and (max-width:767px) {
.author-info__category {
display:none
}
}
.author-info__category a, .author-info__category a:active, .author-info__category a:focus, .author-info__category a:visited {
	color:#5baaa1;
	text-decoration:none
}
.author-info__category a:hover {
	color:#122220;
	text-decoration:underline
}
.author-info--comment {
	font-size:15px
}
.author-info--comment .author-info__name, .author-info--comment .author-info__name:active, .author-info--comment .author-info__name:focus, .author-info--comment .author-info__name:visited {
	color:#333;
	text-decoration:none
}
.author-info--comment .author-info__name:hover {
	color:#d6d6d6;
	text-decoration:none
}
.author-info--comment .author-info__by {
	padding-left:80px
}
.author-info--comment .author-info__post {
	display:block;
	font-weight:400
}
.author-info--comment p {
	color:#999;
	font-size:15px
}
.venue-info__location, .venue-info__name {
	font-size:13px;
	max-width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.venue-info {
	overflow:hidden;
	position:relative
}
.venue-info__selection {
	margin:0;
	padding:0 15px
}
.venue-info__container {
	border:1px solid #ddd;
	margin:0 5px 15px
}
.venue-info__container .venue-info__label {
	padding-left:0
}
.venue-info__checkbox {
	position:relative;
	top:13px
}
.venue-info__label {
	cursor:pointer;
	width:100%
}
.venue-info__photo {
	height:auto;
	width:100%
}
.venue-info__video-wrapper {
	overflow:hidden;
	padding-bottom:66.25%;
	position:relative;
	width:auto
}
.venue-info__video-wrapper img {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	bottom:0;
	min-height:100%
}
.venue-info__name {
	display:inline-block;
	font-weight:700;
	color:#666;
	padding:5px 5px 3px
}
.cta-box__description, .cta-web__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300
}
.venue-info__name__wrapper {
	display:block;
	width:100%
}
.venue-info__location {
	color:#5baaa1;
	display:block;
	margin-top:-10px;
	padding:0 5px
}
.venue-info--spacing {
	padding:0 5px
}
.cta-box {
	padding:3% 5%
}
.cta-box__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px
}
.cta-box__description {
	color:#666
}
.cta-box__actions--separte {
	border-top:1px solid #f0f0f0
}
@media only screen and (max-width:767px) {
.cta-box {
padding:20px 0
}
}
.cta-web__screenshot {
	border:5px solid #fdfdfd;
	width:100%
}
.cta-web__title {
	color:gray;
	display:block;
	font-size:18px;
	padding:10px 0 5px;
	text-decoration:none
}
.cta-web__title:hover {
	color:#5baaa1
}
.cta-web__link, .cta-web__link:active, .cta-web__link:focus, .cta-web__link:visited {
	color:#5baaa1;
	text-decoration:none
}
.cta-web__link:hover {
	color:#122220;
	text-decoration:underline
}
.bg-promo {
	position:relative
}
.bg-promo__left, .bg-promo__right {
	display:block;
	position:absolute;
	top:0;
	transition:margin 2s cubic-bezier(.19, 1, .22, 1)
}
.bg-promo__left-link, .bg-promo__right-link {
	bottom:0;
	display:block;
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	transition:background 250ms cubic-bezier(.19, 1, .22, 1)
}
.cta-directory__link-list-item, .cta-directory__tab-list a, .cta-promoted-posts__link-list-item, .cta-promoted-posts__title {
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1);
	cursor:pointer
}
.bg-promo__left-link:hover, .bg-promo__right-link:hover {
	background-color:#fdfdfd;
	background-color:rgba(253, 253, 253, .2)
}
.bg-promo__image {
	position:relative
}
.bg-promo__left {
	margin-right:590px;
	right:50%
}
.brandweek .bg-promo__left {
	margin-right:485px
}
@media only screen and (min-width:992px) {
.brandweek .bg-promo__left {
margin-right:485px
}
}
.bg-promo__right {
	left:50%;
	margin-left:590px
}
.brandweek .bg-promo__right {
	margin-left:485px
}
@media only screen and (min-width:992px) {
.brandweek .bg-promo__right {
margin-left:485px
}
}
@media (min-width:1441px) {
.brandweek .bg-promo__left {
margin-right:590px
}
.brandweek .bg-promo__right {
margin-left:590px
}
}
@media only screen and (max-width:1199px) {
.bg-promo {
display:none
}
}
.cta-nav-horizontal {
	background:#5baaa1;
	color:#fdfdfd;
	overflow:hidden;
	padding:14px 35px;
	position:relative;
	text-align:right
}
@media only screen and (max-width:767px) {
.cta-nav-horizontal {
margin-left:-5px;
margin-right:-5px;
text-align:center
}
}
.cta-share .social-share, .magazine-post__metadata .social-share {
	text-align:right
}
.cta-nav-horizontal__list {
	float:right;
	margin-bottom:0
}
.cta-nav-horizontal__item, .cta-nav-horizontal__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	float:left;
	font-weight:700
}
.cta-nav-horizontal__item {
	font-size:15px;
	line-height:30px;
	padding:0 15px
}
.cta-nav-horizontal__title {
	display:block;
	font-size:24px
}
.cta-nav-horizontal a {
	color:#fdfdfd
}
@media print {
.cta-directory {
	display:none
}
}
.cta-directory__title {
	font-family:"Petit Formal Script", "Bad Script", cursive;
	font-size:18px;
	position:relative
}
.cta-directory__tab-list, .cta-promoted-posts__title, .cta-share__title, .magazine-post--gallery__title, .magazine-post__title, .promo-sidebar__cta, .promo-sidebar__description, .promo-sidebar__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.cta-directory__title span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	background:#f7f7f7;
	padding-right:10px;
	position:relative;
	z-index:1
}
.cta-directory__title:after {
	border-bottom:1px solid #5baaa1;
	border-top:1px solid #5baaa1;
	content:"";
	display:block;
	height:5px;
	position:absolute;
	top:10px;
	width:100%
}
.cta-directory__grid-item, .cta-promoted-posts__grid-item {
	width:50%;
	float:left
}
.cta-directory__tab-list {
	font-size:15px;
	line-height:1em
}
.cta-directory__link-list, .cta-promoted-posts__link-list {
	line-height:1.3em
}
.cta-directory__tab-list__item {
	font-size:13px;
	margin-right:5px
}
.cta-directory__tab-list a, .cta-directory__tab-list a:active, .cta-directory__tab-list a:focus, .cta-directory__tab-list a:visited {
	color:#5baaa1;
	text-decoration:none
}
.cta-directory__tab-list a:hover {
	color:#122220;
	text-decoration:underline
}
.cta-directory__tab-list>li {
	display:inline-block;
	margin-bottom:2px;
	padding:0 3px 0 0
}
.cta-directory__tab-list>li:last-child {
	border-right:0;
	padding-right:0
}
.cta-directory__link-list-item, .cta-directory__link-list-item:active, .cta-directory__link-list-item:focus, .cta-directory__link-list-item:visited {
	color:#5baaa1;
	text-decoration:none
}
.cta-directory__link-list-item:hover {
	color:#122220;
	text-decoration:underline
}
.cta-directory__grid {
	margin-left:-10px;
	overflow:hidden
}
.cta-directory__grid .card--mini-cta-directory {
	margin-bottom:10px;
	margin-left:10px
}
.cta-directory__grid .card__video {
	padding-bottom:66.6%
}
.cta-directory--home {
	padding:10px 20px
}
@media only screen and (min-width:992px) {
.cta-directory--home {
margin-bottom:0;
min-height:450px
}
}
.cta-directory--home .cta-directory__link-list-item {
	display:block;
	margin-bottom:.7em
}
.cta-promoted-posts {
	padding:10px
}
@media print {
.cta-promoted-posts {
	display:none
}
}
.cta-promoted-posts__title {
	font-weight:700;
	display:block;
	font-size:18px
}
.cta-promoted-posts__title, .cta-promoted-posts__title:active, .cta-promoted-posts__title:focus, .cta-promoted-posts__title:visited {
	color:#5baaa1;
	text-decoration:none
}
.cta-promoted-posts__title:hover {
	color:#122220;
	text-decoration:underline
}
.cta-promoted-posts__link-list-item, .cta-promoted-posts__link-list-item:active, .cta-promoted-posts__link-list-item:focus, .cta-promoted-posts__link-list-item:visited {
	color:#5baaa1;
	text-decoration:none
}
.cta-promoted-posts__link-list-item:hover {
	color:#122220;
	text-decoration:underline
}
.cta-promoted-posts__grid {
	margin-left:-10px;
	overflow:hidden
}
.cta-promoted-posts__grid .card {
	margin-bottom:10px;
	margin-left:10px
}
.cta-promoted-posts .card__info {
	background:#333;
	background:rgba(51, 51, 51, .25);
	bottom:0;
	left:0;
	padding:0;
	position:absolute;
	right:0
}
.cta-promoted-posts .card__title {
	color:#fdfdfd;
	font-size:13px;
	height:50.7px;
	margin:10px 2px
}
.cta-share {
	background-color:#f0f0f0;
	border:1px solid #d7d7d7;
	padding:20px 10px 10px
}
.cta-share__title {
	font-size:18px
}
@media only screen and (max-width:767px) {
.cta-share {
display:none;
padding:10px
}
}
.cta-share .social-share__item {
	margin-left:10px;
	padding:0 5px;
	width:auto
}
.magazine-post {
	padding:20px
}
@media only screen and (max-width:767px) {
.magazine-post {
border:0;
border-radius:0;
margin-left:-15px;
margin-right:-15px;
padding:15px
}
}
.magazine-post__title {
	font-weight:700;
	font-size:36px;
	line-height:1.3em;
	margin:0 0 .5em
}
@media only screen and (max-width:767px) {
.magazine-post__title {
font-size:24px
}
.magazine-post__metadata .social-share {
background:#fdfdfd;
bottom:0;
height:50px;
left:0;
padding-top:5px;
position:fixed;
right:0;
text-align:center;
z-index:2
}
}
.magazine-post__metadata .social-share__item {
	margin-left:10px;
	padding:0 5px;
	width:auto
}
.magazine-post__content {
	font-size:15px
}
.magazine-post__content small {
	font-size:12px
}
.magazine-post__content img {
	height:auto;
	max-width:100%
}
.magazine-post__content table img {
	max-width:none
}
@media only screen and (max-width:767px) {
.magazine-post__metadata .social-share__item {
margin-left:0
}
.magazine-post__metadata .social-share__item a {
box-shadow:0 1px 1px rgba(51, 51, 51, .25)
}
.magazine-post--gallery__container {
margin:0 -15px 10px
}
}
.magazine-post--gallery__title {
	font-weight:700;
	font-size:24px;
	margin:0 0 .5em
}
@media only screen and (max-width:767px) {
.magazine-post--gallery__title {
color:#666;
font-size:15px;
line-height:1.2em;
margin-bottom:1em;
padding:15px;
text-align:center
}
.magazine-post--gallery .slide__button {
padding:0 15px
}
}
.magazine-post--gallery .slide {
	position:relative
}
.magazine-post--gallery .slide__button {
	margin:10px 0 5px
}
.magazine-post--gallery .slide__button a {
	color:#666;
	font-size:13px
}
.magazine-post--gallery .slide__button .icon {
	font-size:12px;
	margin-top:-2px
}
@media only screen and (max-width:767px) {
.magazine-post--gallery .slider--gallery-standard {
margin:-15px 0 0
}
}
.magazine-post--gallery .slide__attachment_description {
	display:block;
	float:left
}
.magazine-post--gallery .slide__description {
	background:#000;
	background:rgba(0, 0, 0, .5);
	bottom:0;
	color:#fff;
	font-size:11px;
	left:0;
	padding:0 15px;
	position:absolute;
	right:0;
	width:100%
}
.magazine-post--gallery .slide__photo {
	margin:0 auto;
	max-height:600px;
	max-width:100%;
	width:auto
}
.magazine-post--gallery .card--directory .card__rating {
	float:none;
	margin:0 auto;
	padding-bottom:10px;
	padding-top:0
}
@media only screen and (min-width:768px) {
.magazine-post--gallery .social-share--vertical {
position:absolute;
right:40px;
top:75px;
z-index:1
}
.magazine-post__thumbs {
margin-bottom:20px
}
}
.magazine-post__author {
	color:#666;
	font-size:11px
}
.magazine-post__author a {
	color:#5baaa1
}
.magazine-post__thumbs {
	overflow:hidden;
	position:relative
}
.magazine-post__thumbs-item {
	box-sizing:border-box;
	float:left;
	padding-bottom:2px;
	padding-right:2px;
	width:10%
}
.magazine-post__thumbs-photo {
	display:block;
	width:100%
}
.magazine-post__more-thumbs {
	cursor:pointer;
	position:relative
}
.magazine-post__more-thumbs-count {
	color:#fdfdfd;
	font-size:24px;
	left:0;
	margin-top:-30%;
	position:absolute;
	right:2px;
	text-align:center;
	top:50%
}
@media only screen and (max-width:767px) {
.magazine-post__more-thumbs-count {
font-size:13px
}
}
.wp-caption {
	margin-bottom:1em
}
.wp-caption img {
	height:auto;
	width:100%
}
.wp-caption-text {
	font-size:11px
}
.post-navigation {
	display:none;
	transition:opacity 250ms cubic-bezier(.19, 1, .22, 1)
}
.ad-announce, .ad-announce a, .promo-sidebar__title, .promo-sidebar__title a {
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1);
	cursor:pointer
}
.post-navigation__next, .post-navigation__prev {
	background:#333;
	background:rgba(51, 51, 51, .1);
	bottom:0;
	color:#fdfdfd;
	font-size:25px;
	line-height:50px;
	margin-top:-30px;
	position:fixed;
	text-align:center;
	width:50px;
	z-index:3
}
@media only screen and (max-width:767px) {
.post-navigation {
display:block
}
.post-navigation__next, .post-navigation__prev {
width:25px
}
}
.post-navigation__prev {
	left:0
}
.post-navigation__next {
	right:0
}
[data-scroll-on-top=true] .post-navigation {
	opacity:0
}
@media print {
.promo {
	display:none
}
}
.promo img {
	width:100%
}
.promo__title {
	font-size:13px;
	overflow:hidden;
	position:relative
}
.promo__title span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	background:#f7f7f7;
	float:right;
	padding-left:10px;
	position:relative;
	z-index:1
}
.promo__title:after {
	border-top:1px solid #dedede;
	content:'';
	display:block;
	height:1px;
	position:absolute;
	top:50%;
	width:100%
}
.promo-sidebar__title {
	font-size:18px
}
.promo-sidebar__title, .promo-sidebar__title a, .promo-sidebar__title a:active, .promo-sidebar__title a:focus, .promo-sidebar__title a:visited, .promo-sidebar__title:active, .promo-sidebar__title:focus, .promo-sidebar__title:visited {
	color:#5baaa1;
	text-decoration:none
}
.promo-sidebar__title a:hover, .promo-sidebar__title:hover {
	color:#122220;
	text-decoration:underline
}
.promo-sidebar__item {
	overflow:hidden
}
.promo-sidebar__photo {
	float:left;
	margin-right:1em;
	width:25%
}
.promo-sidebar__cta {
	color:#5baaa1;
	display:block;
	font-size:13px;
	line-height:1.3em
}
.promo-sidebar__cta:active, .promo-sidebar__cta:hover {
	color:#7dbbb4
}
.promo-sidebar__description {
	color:gray;
	display:block;
	font-size:11px;
	font-weight:300
}
.promo-sidebar a, .promo-sidebar a:visited, .promo-sidebar__cta, .promo-sidebar__cta:visited, .promo-sidebar__description, .promo-sidebar__description:visited {
	text-decoration:none
}
.ad-announce {
	border-bottom:1px solid #f0f0f0;
	display:block;
	font-size:11px;
	text-align:right
}
.ad-announce, .ad-announce a, .ad-announce a:active, .ad-announce a:focus, .ad-announce a:visited, .ad-announce:active, .ad-announce:focus, .ad-announce:visited {
	color:#666;
	text-decoration:none
}
.ad-announce a:hover, .ad-announce:hover {
	color:#e0e0e0;
	text-decoration:none
}
.magazine-custom-widget {
	max-height:800px;
	overflow:hidden;
	width:100%
}
.post-comments {
	padding-left:20px;
	padding-right:20px
}
.post-comments__header {
	font-size:18px
}
.post-comments__view-all {
	color:#5baaa1;
	display:block;
	font-size:13px;
	text-align:right
}
.post-comments__children {
	margin-top:30px;
	padding-left:50px
}
.post-comment__comment {
	color:#666;
	padding-left:50px
}
.post-comment__badge {
	font-size:13px
}
.post-comment+.post-comment {
	border-top:1px solid #f0f0f0
}
.post-comment__children {
	border-left:1px solid #eee;
	margin-left:50px;
	margin-top:20px;
	padding-left:30px
}
.post-comment__business-relation {
	color:#666;
	font-size:13px;
	font-style:italic;
	padding-left:50px
}
.post-comment-actions {
	padding-left:50px
}
.no-touch .post-comment-actions:hover .post-comment-actions__item {
	opacity:1
}
.post-comment-actions__item {
	color:#666;
	display:inline;
	font-size:13px;
	margin-right:10px;
	opacity:.5;
	transition:opacity 250ms cubic-bezier(.19, 1, .22, 1)
}
.post-comment-actions__item:active, .post-comment-actions__item:hover {
	color:gray
}
.author-list__title {
	margin-bottom:1em;
	margin-top:0
}
.author-list__item {
	display:block;
	overflow:hidden
}
.author-details {
	background:#fdfdfd;
	border:1px solid #dedede;
	overflow:hidden;
	padding:15px 0
}
.author-details__info {
	border-left:1px solid #dedede
}
.author-details__photo {
	border:3px solid #dedede;
	float:none;
	margin-left:auto;
	margin-right:auto
}
.author-details__name {
	color:#333;
	font-size:30px;
	font-weight:700
}
.author-details__social p, .author-details__text {
	color:#666;
	font-size:12px
}
.author-details__social .social-share__item {
	margin-right:12px;
	width:auto
}
.author-details__link {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.author-details__link, .author-details__link:active, .author-details__link:focus, .author-details__link:visited {
	color:#5baaa1;
	text-decoration:none
}
.author-details__link:hover {
	color:#122220;
	text-decoration:underline
}
.author-details--sidebar .author-details__info {
	border:0;
	padding:0 15px
}
.author-details--sidebar .author-details__text p {
	margin-right:0
}
.social-like-box {
	background:#f7f7f7;
	overflow:hidden
}
@media print {
.social-like-box {
	display:none
}
}
.social-like-box__title {
	font-family:"Petit Formal Script", "Bad Script", cursive;
	font-size:18px;
	padding-left:3px;
	position:relative
}
.slideshow-fullscreen--last__title, .social-like-box__subtitle {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.social-like-box__title span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	background:#f7f7f7;
	padding-right:10px;
	position:relative;
	z-index:1
}
.social-like-box__title:after {
	border-bottom:1px solid #5baaa1;
	border-top:1px solid #5baaa1;
	content:"";
	display:block;
	height:5px;
	position:absolute;
	top:10px;
	width:100%
}
.social-like-box__subtitle {
	font-weight:300;
	color:#333;
	font-size:12px;
	text-transform:uppercase
}
.social-like-box .form-group {
	width:83%
}
.social-like-box .form-group .form-control {
	width:100%
}
.social-like-box .button {
	max-width:15%
}
.social-like-box__iframe {
	border:1px solid #333;
	height:210px;
	padding:0 0 10px;
	width:100%
}
.magazine-gallery-post__item {
	box-sizing:border-box;
	display:block;
	float:left;
	position:relative;
	width:33.33%;
transition:all .5s cubic-bezier(.19, 1, .22, 1)
}
@media only screen and (max-width:767px) {
.magazine-gallery-post__item {
padding:5px 0;
width:100%
}
}
.magazine-gallery-post__link {
	display:block;
	margin:5px;
	overflow:hidden
}
.magazine-gallery-post__photo {
	height:auto;
	width:100%;
	transition:-webkit-transform 2s cubic-bezier(.19, 1, .22, 1);
	transition:transform 2s cubic-bezier(.19, 1, .22, 1);
	transition:transform 2s cubic-bezier(.19, 1, .22, 1), -webkit-transform 2s cubic-bezier(.19, 1, .22, 1)
}
.slideshow-fullscreen__related-item a, .suggested-contents a {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.magazine-gallery-post__photo:hover {
	-webkit-transform:scale3d(1.075, 1.075, 1);
	-ms-transform:scale3d(1.075, 1.075, 1);
	transform:scale3d(1.075, 1.075, 1)
}
@media only screen and (min-width:992px) {
.mfp-content {
max-width:75%!important
}
}
.mfp-content .slider__arrow {
	opacity:1;
	z-index:1046
}
.mfp-content .cta-directory {
	background:#fdfdfd;
	margin-top:15px;
	padding:10px
}
.mfp-content .cta-directory__title {
	margin-top:10px
}
.mfp-content .mfp-counter {
	bottom:10px;
	position:fixed;
	right:10px;
	top:auto
}
.mfp-content .mfp-title {
	color:#666;
	padding:0 15px;
	text-align:center
}
.mfp-content .icon_arrow-right {
	right:33.33%
}
.mfp-content .icon_arrow-left {
	left:0
}
.slideshow-fullscreen {
	margin:0 auto;
	width:90%
}
.slideshow-fullscreen__content {
	background:#333
}
@media only screen and (max-width:767px) {
.slideshow-fullscreen__content {
margin-left:0;
margin-top:0;
padding:0
}
.slideshow-fullscreen__sidebar {
display:none
}
}
.slideshow-fullscreen__content .swiper-wrapper {
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.slideshow-fullscreen__sidebar {
	background:#fdfdfd;
	padding:25px 35px
}
@media only screen and (max-width:991px) {
.slideshow-fullscreen__sidebar {
padding:20px
}
}
.slideshow-fullscreen__sidebar-container {
	margin:0 auto
}
.slideshow-fullscreen__photo-info {
	color:#fdfdfd;
	line-height:normal
}
.slideshow-fullscreen__related-item {
	background:#f0f0f0;
	color:#333;
	font-size:12px;
	line-height:1em;
	padding-bottom:10px;
	text-align:center
}
.slideshow-fullscreen__related-item a, .slideshow-fullscreen__related-item a:active, .slideshow-fullscreen__related-item a:focus, .slideshow-fullscreen__related-item a:visited {
	color:#333;
	text-decoration:none
}
.slideshow-fullscreen__related-item a:hover {
	color:#d6d6d6;
	text-decoration:none
}
.slideshow-fullscreen__related-item img {
	display:block;
	margin:0 auto 10px;
	width:100%
}
.slideshow-fullscreen__image {
	padding-right:0
}
@media only screen and (max-width:767px) {
.slideshow-fullscreen__image {
padding-right:15px
}
}
.slideshow-fullscreen--last {
	background:rgba(0, 0, 0, .7);
	color:#fdfdfd;
	padding:30px;
	text-align:center
}
.slideshow-fullscreen--last-wrapper {
	overflow:hidden;
	position:relative
}
.slideshow-fullscreen--last-wrapper .slideshow-fullscreen--last {
	bottom:0;
	left:0;
	line-height:1em;
	min-height:450px;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:9
}
.slideshow-fullscreen--last__title {
	color:#fdfdfd;
	display:block;
	font-size:18px;
	text-align:center
}
.slideshow-fullscreen--last form, .slideshow-fullscreen--last__title {
	line-height:1em
}
.slideshow-bottom-bar__info, .slideshow-bottom-bar__title {
	line-height:18px;
	word-wrap:break-word
}
@media only screen and (max-width:767px) {
.slideshow-fullscreen--last {
margin:0;
padding:15px
}
}
.slideshow-fullscreen--last h1, .slideshow-fullscreen--last h2, .slideshow-fullscreen--last h3, .slideshow-fullscreen--last h4 {
	text-align:center
}
.slideshow-fullscreen--last .social-share {
	left:auto;
	margin-left:0;
	position:relative;
	top:auto
}
.slideshow-fullscreen--last .social-share__item {
	margin:0 5px;
	width:auto
}
.related-item__name {
	height:36px;
	overflow:hidden;
	padding:0 5px
}
.slideshow-bottom-bar {
	color:#fdfdfd;
	padding:10px 0 5px;
	width:100%
}
@media only screen and (max-width:767px) {
.slideshow-bottom-bar {
padding:15px;
position:relative
}
}
.slideshow-bottom-bar__info {
	font-size:12px
}
@media only screen and (max-width:991px) {
.slideshow-bottom-bar {
position:relative
}
.slideshow-bottom-bar__info {
font-size:15px
}
}
.slideshow-bottom-bar__icon {
	cursor:pointer;
	padding:0 10px;
	z-index:999
}
.slideshow-bottom-bar__pics {
	padding-right:10px
}
@media only screen and (max-width:767px) {
.slideshow-bottom-bar__pics {
border:0;
margin:0;
padding:0
}
}
.slideshow-bottom-bar__info-box {
	background:#333;
	bottom:15px;
	position:absolute;
	right:15px
}
.magazine-video-post {
	background-color:#333;
	overflow:hidden;
	text-align:center
}
.magazine-video-post iframe {
	width:100%
}
.error-page__title {
	font-size:30px;
	text-align:center
}
.error-page__subtitle {
	color:#666;
	text-align:center
}
.suggested-contents__title {
	font-family:"Petit Formal Script", "Bad Script", cursive;
	color:#5baaa1;
	font-size:30px
}
.collections-slider__title, .cta-photo__title, .filter-list__name, .filter-list__title, .most-popular__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.suggested-contents a {
	display:block;
	line-height:2.3em
}
.post-image-link__badge, .post-image-link__link {
	transition:opacity 250ms cubic-bezier(.19, 1, .22, 1)
}
.suggested-contents a, .suggested-contents a:active, .suggested-contents a:focus, .suggested-contents a:visited {
	color:gray;
	text-decoration:none
}
.suggested-contents a:hover {
	color:#e5e5e5;
	text-decoration:none
}
.post-image-link {
	margin:0 auto 20px;
	max-width:685px
}
.post-image-link__container {
	position:relative
}
.post-image-link a {
	color:#fdfdfd;
	display:block;
	position:relative;
	width:100%
}
@media only screen and (max-width:767px) {
.post-image-link {
margin-left:-15px;
margin-right:-15px
}
.post-image-link a {
color:#666
}
}
.post-image-link a:hover, .post-image-link a:visited {
	color:#fdfdfd
}
@media only screen and (max-width:767px) {
.post-image-link a:hover, .post-image-link a:visited {
color:#666
}
}
@media only screen and (min-width:992px) {
.post-image-link a:hover .post-image-link__badge {
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
-ms-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
background:0 0;
right:auto
}
.post-image-link a:hover .post-image-link__badge__text {
font-size:15px
}
.post-image-link a:hover .post-image-link__link-image {
display:block
}
.post-image-link a:hover .post-image-link__share-icon {
display:none
}
.post-image-link a:hover .post-image-link__overlay {
display:block
}
}
.post-image-link a:hover .post-image-link__link {
	opacity:1
}
.post-image-link a.post-image-link__button, .post-image-link a.post-image-link__button:active, .post-image-link a.post-image-link__button:focus, .post-image-link a.post-image-link__button:hover {
	color:#666
}
.post-image-link img {
	height:auto;
	width:100%
}
.post-image-link__link-image {
	color:#fff;
	display:none;
	font-size:36px;
	font-weight:700;
	text-align:center
}
.post-image-link__overlay {
	background:#000;
	background:rgba(0, 0, 0, .5);
	bottom:0;
	display:none;
	left:0;
	opacity:.6;
	position:absolute;
	right:0;
	top:0
}
.post-image-link__badge {
	background:#000;
	background:rgba(0, 0, 0, .5);
	padding:5px;
	position:absolute;
	right:10px;
	top:10px
}
.post-image-link__badge__text {
	font-size:12px
}
.post-image-link__badge .icon {
	margin-top:-3px
}
.post-image-link__caption {
	background:#000;
	background:rgba(0, 0, 0, .5);
	bottom:0;
	color:#fff;
	left:0;
	padding:0 15px;
	position:absolute;
	right:0;
	width:100%
}
.post-image-link__share-icon {
	font-size:11px;
	margin-left:3px
}
.post-image-link__more-info {
	margin:10px 0 20px
}
@media only screen and (max-width:767px) {
.post-image-link__badge {
display:none
}
.post-image-link__more-info {
padding:0 15px
}
}
.post-image-link__link {
	text-shadow:0 1px 1px rgba(51, 51, 51, .35);
	background:#000;
	background:rgba(0, 0, 0, .75);
	display:block
}
.filter-list__title a, .related-cards__link {
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1);
	cursor:pointer
}
@media only screen and (max-width:767px) {
.post-image-link__link {
display:none
}
}
.post-image-link__link-text {
	font-weight:700
}
.no-touch .post-image-link__link {
	bottom:0;
	left:0;
	opacity:0;
	position:absolute;
	right:0;
	top:0
}
.no-touch .post-image-link__link-text {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	text-align:center
}
.post-image-link__link em {
	display:block
}
.post-image-link__link .icon {
	color:#fdfdfd;
	display:block;
	font-size:36px
}
.related-cards__link, .related-cards__links li {
	display:inline-block
}
.touch .post-image-link__link .icon {
	float:left;
	margin-right:10px
}
@media only screen and (max-width:767px) {
.wrap-zk-love {
margin-left:-15px;
margin-right:-15px
}
.related-cards__title {
text-align:center
}
}
.collections-slider {
	background:#333
}
.collections-slider__title {
	color:#fdfdfd;
	font-size:36px;
	margin:0 0 .5em;
	text-align:center;
	text-transform:uppercase
}
.related-cards {
	background:#5baaa1;
	border-radius:3px
}
.related-cards__title {
	color:#fdfdfd;
	display:inline-block;
	font-size:24px;
	font-weight:700;
	line-height:31px;
	margin:10px 0;
	padding:0 15px
}
.related-cards__links {
	margin:10px 0;
	text-align:right
}
.related-cards__link {
	border-radius:3px;
	font-size:15px;
	font-weight:700;
	margin-right:10px;
	padding:5px;
	text-transform:uppercase
}
.related-cards__link, .related-cards__link:active, .related-cards__link:focus, .related-cards__link:visited {
	color:#fdfdfd;
	text-decoration:none
}
.related-cards__link:hover {
	text-decoration:none
}
.related-cards__link.is__active, .related-cards__link:hover {
	background:#fdfdfd;
	color:#5baaa1
}
.filter-list {
	padding:15px
}
.filter-list__title {
	cursor:pointer;
	font-size:18px;
	margin:0 0 .5em;
	padding-right:25px;
	position:relative
}
.filter-list__title a, .filter-list__title a:active, .filter-list__title a:focus, .filter-list__title a:visited {
	color:#333;
	text-decoration:none
}
.filter-list__title a:hover {
	color:#d6d6d6;
	text-decoration:none
}
.filter-list__icon {
	bottom:0;
	color:#999;
	font-size:15px;
	position:absolute;
	right:0
}
.filter-list__list {
	line-height:1.5em;
	margin-bottom:1em
}
.filter-list__count {
	bottom:0;
	color:#666;
	font-size:11px;
	min-width:20px;
	position:absolute;
	right:0;
	text-align:center;
-webkit-animation:bubble-show 250ms 1 normal cubic-bezier(.19, 1, .22, 1) none .2s;
-ms-animation:bubble-show 250ms 1 normal cubic-bezier(.19, 1, .22, 1) none .2s;
animation:bubble-show 250ms 1 normal cubic-bezier(.19, 1, .22, 1) none .2s
}
.filter-list__name {
	color:gray;
	cursor:pointer;
	display:block;
	font-size:13px;
	font-weight:400;
	margin-bottom:0;
	position:relative;
	text-decoration:none
}
.filter-list__name:hover {
	color:#5baaa1;
	text-decoration:none
}
.filter-list__links {
	bottom:5px;
	position:fixed;
	right:5px;
	z-index:3
}
.filter-list__link {
	background:#5baaa1;
	color:#fdfdfd;
	display:inline-block;
	margin-left:5px;
	padding:10px 15px;
	position:relative
}
.filter-list__link:active, .filter-list__link:focus, .filter-list__link:visited {
	color:#fdfdfd;
	text-decoration:none
}
.filter-list__link .filter-list__count {
	color:#5baaa1;
	float:none
}
.filter-list__tools .filter-list__count {
	right:-5px;
	top:-10px
}
.filter-list__tools .only-mobile {
	display:none
}
@media only screen and (max-width:767px) {
.related-cards__links {
text-align:center
}
.filter-list__tools .only-mobile {
display:inline-block
}
}
.filter-list__tags {
	overflow:hidden
}
.filter-list__tag {
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background-color:#5baaa1;
	color:#fdfdfd;
	cursor:pointer;
	display:block;
	font-size:11px;
	margin-bottom:.5em;
	padding:5px 20px 5px 10px;
	position:relative;
transition:background-color .5s cubic-bezier(.19, 1, .22, 1), color .5s cubic-bezier(.19, 1, .22, 1)
}
.filter-list__tag:hover {
	background-color:#488a83;
	color:#fdfdfd;
	text-decoration:none
}
.filter-list__tag:hover .icon {
	color:#fdfdfd
}
.filter-list__tag .icon {
	color:#488a83;
	position:absolute;
	right:5px;
	text-align:center;
	top:5px;
transition:color .5s cubic-bezier(.19, 1, .22, 1)
}
.filter-list__tag--title {
	display:inline-block;
	font-size:11px;
	margin-right:10px
}
.filter-list__see-all {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.filter-list__see-all, .filter-list__see-all:active, .filter-list__see-all:focus, .filter-list__see-all:visited {
	color:#5baaa1;
	text-decoration:none
}
.filter-list__see-all:hover {
	color:#122220;
	text-decoration:underline
}
@-webkit-keyframes bubble-show {
0% {
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0)
}
80% {
-webkit-transform:scale(1.2);
-ms-transform:scale(1.2);
transform:scale(1.2)
}
100% {
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
}
@-ms-keyframes bubble-show {
0% {
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0)
}
80% {
-webkit-transform:scale(1.2);
-ms-transform:scale(1.2);
transform:scale(1.2)
}
100% {
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
}
@keyframes bubble-show {
0% {
-webkit-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0)
}
80% {
-webkit-transform:scale(1.2);
-ms-transform:scale(1.2);
transform:scale(1.2)
}
100% {
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
}
.quick-request--sidebar {
	background:#fdfdfd;
	line-height:1em
}
.quick-request--sidebar .standard-modal__title {
	font-size:22px;
	margin-top:0
}
.quick-request__subtitle {
	line-height:1.2em
}
.quick-request .form-group--icon label+.icon {
	top:50%
}
.cta-photo {
	height:360px;
	overflow:hidden;
	position:relative
}
.cta-photo__caption {
	background:#000;
	background:rgba(0, 0, 0, .5);
	color:#fdfdfd;
	display:block;
	padding:10px 30px;
	position:absolute;
	top:25%
}
.cta-photo__title {
	display:block;
	font-size:30px;
	margin-bottom:10px
}
@media only screen and (max-width:767px) {
.cta-photo {
height:auto;
overflow-y:auto
}
.cta-photo__caption {
padding:10px 20px;
top:15%
}
.cta-photo__title {
font-size:18px
}
}
.cta-photo__text {
	display:block;
	font-size:13px;
	margin-bottom:15px
}
.cta-photo img {
	display:block;
	max-width:100%
}
.most-popular {
	overflow:hidden;
	padding:15px
}
.most-popular__title {
	font-weight:700;
	display:block;
	font-size:24px;
	line-height:24px;
	margin:0 0 1em
}
.most-popular__title .icon {
	color:#ffb923
}
.most-popular ul {
	margin-bottom:0
}
.most-popular__item {
	border-top:1px solid #666;
	margin-top:10px;
	overflow:hidden;
	padding-top:10px;
	position:relative;
	transition:color 250ms cubic-bezier(.19, 1, .22, 1)
}
.collection-gallery__name, .collection-video__item, .collection-video__subtitle a, .cta-directory-category__item, .filter-dropdown a, .hero-post__text a, .hero-post__text--link, .hero-post__title, .hero-post__title a, .most-popular__item-more, .post-explore a {
	cursor:pointer;
transition:color 250ms cubic-bezier(.19, 1, .22, 1), background 250ms cubic-bezier(.19, 1, .22, 1), padding .5s cubic-bezier(.19, 1, .22, 1)
}
.most-popular__item:first-child {
	border-top:0;
	margin-top:0;
	padding-top:0
}
.most-popular__item:hover {
	color:#5baaa1
}
.most-popular__media {
	float:left;
	position:relative;
	width:40%
}
.most-popular__media img {
	display:block;
	max-width:100%
}
.most-popular__text {
	display:block;
	float:left;
	font-size:15px;
	line-height:18px;
	padding-left:10px;
	width:60%
}
.most-popular__item-title {
	display:block;
	font-size:15px;
	height:66px;
	margin:0;
	overflow:hidden
}
.filter-dropdown, .filter-dropdown label, .filter-dropdown li, .filter-dropdown p {
	font-size:13px;
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.most-popular__item-description {
	height:25px;
	overflow:hidden
}
.most-popular__item-more, .most-popular__item-more:active, .most-popular__item-more:focus, .most-popular__item-more:visited {
	color:#5baaa1;
	text-decoration:none
}
.most-popular__item-more:hover {
	color:#122220;
	text-decoration:underline
}
.most-popular__item-link {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0
}
.most-popular .social-share__facebook {
	bottom:5px;
	left:5px;
	position:absolute
}
.filter-dropdown {
	background:#fdfdfd;
	border:1px solid #dedede;
	border-radius:3px 0 3px 3px;
	clear:both;
	max-width:390px;
	padding:10px 20px;
	position:absolute;
	right:15px;
	text-align:left;
	top:32px;
	width:80%;
	z-index:9
}
.filter-dropdown ul {
	margin-bottom:6px
}
.filter-dropdown label, .filter-dropdown li, .filter-dropdown p {
	margin-bottom:5px
}
.filter-dropdown label {
	font-size:12px;
	line-height:18px
}
.filter-dropdown .checkbox {
	float:left;
	margin:10px 10px 10px 0
}
.filter-dropdown a, .filter-dropdown a:active, .filter-dropdown a:focus, .filter-dropdown a:visited {
	color:gray;
	text-decoration:none
}
.filter-dropdown a:hover {
	color:#e5e5e5;
	text-decoration:none
}
.filter-dropdown__link {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	position:relative;
	z-index:99
}
.filter-dropdown__link .icon_arrow-up, .filter-dropdown__link.is__active .icon_arrow-down {
	display:none
}
.collaborators__subtitle, .collaborators__title {
	font-size:22px;
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700
}
.filter-dropdown__link:hover {
	box-shadow:none;
	color:#333;
	text-decoration:none
}
.filter-dropdown__link.is__active {
	background:#fdfdfd;
	border:1px solid #dedede;
	border-bottom-color:#fdfdfd;
	border-radius:3px 3px 0 0;
	color:#666
}
.filter-dropdown__link.is__active .icon_arrow-up {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1
}
.collaborators {
	background:#fdfdfd;
	border:1px solid #dedede;
	overflow:hidden;
	padding:14px 8px;
	text-align:center
}
.collaborators__title {
	color:#333
}
.collaborators .button {
	margin-left:auto;
	margin-right:auto
}
.collaborators__subtitle {
	border-bottom:1px solid #dedede;
	border-top:1px solid #dedede;
	color:#333;
	padding-bottom:15px;
	padding-top:15px
}
.collaborators li {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
	display:block;
	float:none;
	font-size:15px;
	line-height:60px;
	overflow:hidden;
	text-align:left
}
.collaborators li a {
	color:#333
}
.collaborators li a:hover {
	color:#5baaa1;
	text-decoration:none
}
.collaborators li .avatar {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	border:2px solid #dedede;
	float:none;
	margin-right:15px;
	vertical-align:middle
}
.collaborators li img {
	display:block
}
.cta-directory-category {
	text-align:center
}
@media print {
.cta-directory-category {
	display:none
}
}
.cta-directory-category__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	color:#333;
	font-size:18px
}
.cta-directory-category ul {
	margin:0
}
.cta-directory-category li {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	vertical-align:top;
	width:49%
}
.cta-directory-category__item {
	font-family:Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:block;
	font-size:13px;
	line-height:21px;
	min-height:27px;
	padding-left:35px;
	position:relative;
	text-align:left
}
.cta-directory-category__item, .cta-directory-category__item:active, .cta-directory-category__item:focus, .cta-directory-category__item:visited {
	color:#666;
	text-decoration:none
}
.cta-directory-category__item:hover {
	color:#e0e0e0;
	text-decoration:none
}
.cta-directory-category__text-break {
	display:block;
	font-weight:400;
	line-height:13px
}
.cta-directory-category__circle {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	background:#5baaa1;
	border-radius:100%;
	color:#fdfdfd;
	left:0;
	line-height:18px;
	margin-top:-2px;
	min-width:27px;
	padding:5px 5px 4px;
	position:absolute;
	text-align:center;
	top:0
}
.hero-post {
	position:relative;
	text-align:center
}
.hero-post__image {
	display:block;
	overflow:hidden;
	position:relative
}
@media only screen and (max-width:767px) {
.hero-post {
margin-left:-15px;
margin-right:-15px;
overflow:hidden
}
.hero-post__image {
margin:0 -5%
}
}
.hero-post__image--link--alt {
	display:block;
	margin-left:-20%;
	margin-right:-20%
}
@media only screen and (max-width:767px) {
.hero-post__image--link--alt {
margin-left:0;
margin-right:0
}
}
.hero-post__image img {
	display:block;
	margin:0 auto;
	max-width:100%
}
.hero-post__description {
	background:#fdfdfd;
	background:rgba(253, 253, 253, .6);
	bottom:0;
	color:#333;
	left:0;
	padding:1em 1em .5em;
	position:absolute;
	right:0
}
.hero-post__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	font-size:30px;
	margin:0
}
@media only screen and (max-width:767px) {
.hero-post__description {
background:0 0;
padding:.5em 0;
position:static
}
.hero-post__title {
font-size:20px;
margin:0 5px
}
}
.hero-post__title, .hero-post__title a, .hero-post__title a:active, .hero-post__title a:focus, .hero-post__title a:visited, .hero-post__title:active, .hero-post__title:focus, .hero-post__title:visited {
	color:#333;
	text-decoration:none
}
.hero-post__title a:hover, .hero-post__title:hover {
	color:#d6d6d6;
	text-decoration:none
}
.hero-post__text {
	font-family:Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px
}
.collection-gallery__name, .collection-gallery__title, .collection-video__name, .collection-video__subtitle, .post-explore__title {
	font-family:Raleway, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:block
}
.hero-post__text a, .hero-post__text a:active, .hero-post__text a:focus, .hero-post__text a:visited, .hero-post__text--link, .hero-post__text--link:active, .hero-post__text--link:focus, .hero-post__text--link:visited {
	color:#5baaa1;
	text-decoration:none
}
.hero-post__text a:hover, .hero-post__text--link:hover {
	color:#122220;
	text-decoration:underline
}
.hero-post--alt .hero-post__description {
	background:0 0;
	padding:1em 0;
	position:static
}
.collection-video__subtitle {
	font-weight:700;
	font-size:18px;
	text-align:center
}
.collection-video__subtitle a, .collection-video__subtitle a:active, .collection-video__subtitle a:focus, .collection-video__subtitle a:visited {
	color:#333;
	text-decoration:none
}
.collection-video__subtitle a:hover {
	color:#d6d6d6;
	text-decoration:none
}
.collection-video__main {
	overflow:hidden;
	text-align:center
}
.collection-video__main iframe {
	width:100%
}
.collection-video__item {
	display:block;
	position:relative;
	text-align:center
}
.collection-video__item, .collection-video__item:active, .collection-video__item:focus, .collection-video__item:visited {
	color:#333;
	text-decoration:none
}
.collection-video__item:hover {
	color:#d6d6d6;
	text-decoration:none
}
.collection-video__item img {
	display:block;
	margin:0 auto;
	width:100%
}
.collection-video__item .icon {
	color:#fdfdfd;
	font-size:30px;
	left:50%;
	margin-left:-15px;
	margin-top:-15px;
	position:absolute;
	top:50%
}
.collection-video__name {
	font-size:12px;
	padding:0 10px;
	text-align:left
}
.collection-gallery {
	background:#1f1f1f;
	padding:10px 0;
	text-align:center
}
.collection-gallery__title {
	color:#fdfdfd;
	font-size:18px;
	text-align:center
}
.collection-gallery__name {
	font-size:15px;
	padding:0 10px;
	text-align:center
}
.collection-gallery__name, .collection-gallery__name:active, .collection-gallery__name:focus, .collection-gallery__name:visited {
	color:#fdfdfd;
	text-decoration:none
}
.collection-gallery__name:hover {
	color:#cacaca;
	text-decoration:none
}
.post-explore {
	padding:10px
}
.post-explore__title {
	font-weight:700;
	color:#666;
	font-size:20px
}
.post-explore li {
	color:#666;
	font-size:15px
}
.post-explore li strong {
	font-weight:700
}
.post-explore a, .post-explore a:active, .post-explore a:focus, .post-explore a:visited {
	color:#5baaa1;
	text-decoration:none
}
.post-explore a:hover {
	color:#122220;
	text-decoration:underline
}
.related-providers .card--mini .card__info {
	text-align:center
}
.related-providers .card--mini .card__title {
	height:auto;
	max-height:39px
}
@media only screen and (max-width:767px) {
.related-providers .card--mini .card__title {
margin:5px;
max-height:33px
}
}
.related-providers .card--mini .card__rating {
	float:none;
	margin:0 auto;
	padding:0 5px 10px
}
.related-providers .card--mini .card__photo-img {
	opacity:0
}
.related-providers-sign-up {
	background:#fdfdfd;
	border:1px solid #e4e4e4;
	text-align:center
}
.related-providers-sign-up__title {
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	display:block;
	left:50%;
	position:absolute;
	top:50%;
	width:80%
}
.related-providers-sign-up__cta {
	padding:22px 0
}
.related-providers-sign-up .card__photo-mask {
	position:relative
}
.post-comment__respond {
	color:#5baaa1
}
